.container {
  height: calc(100vh - 48px);
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.card {
  width: 600px;
  padding: 32px;
  background-color: var(--card-background);
  border-radius: var(--border-radius);
  box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1),
    inset 0 0 0 1px var(--shadow-inset);
}

.header {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .header {
    flex-direction: column;
  }
  h1 {
    font-size: 28px;
    margin: 8px 0;
  }
}

.error_message {
  text-align: center;
  margin-bottom: 4px;
  color: var(--danger-color);
  font-size: small;
}

.input_container {
  margin-top: 24px;
  margin-bottom: 12px;
}

.currency_inputs_container {
  display: flex;
  gap: 8px;
}
@media (max-width: 500px) {
  .currency_inputs_container {
    flex-direction: column;
  }
}

.currency_rate {
  margin-top: 12px;
  color: var(--secondary-text-color);
}
